@use "./Variables" as *;

.header {
    @include font-global;
    background-color: var(--accent-color);
    height: 9vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    .logo {
        @include font-logo;

        padding-left: 20px;

        text-decoration: none;
        color: var(--text-color);
        font-size: 22px;
    }

    .options {
        display: flex;
        align-items: center;
        gap: 50px;

        .themeContainer {
            
        }

        .ordersContainer {
            .orders {
                display: inline-block;
                text-decoration: none;
                color: var(--text-color);

                transition: ease 0.2s;
                @include hover-active;
            }
        }

        .cartContainer {
            padding-right: 20px;

            .cart {
                display: inline-block;
                color: var(--text-color);

                transition: ease 0.2s;
                @include hover-active;
            }
        }
    }
}
