@use "../../Variables" as *;

.header {
    @include font-global;
    background-color: var(--accent-color);
    height: 9vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    .logo {
        @include font-logo;

        padding-left: 20px;

        text-decoration: none;
        color: var(--text-color);
        font-size: 22px;
    }

    .options {
        display: flex;
        align-items: center;
        gap: 50px;

        .themeContainer {
            .themeButton {
                cursor: pointer;

                display: flex;
                align-items: center;
                justify-content: center;

                border: 0;
                border-radius: 50px;
                font-size: 18px;

                background-color: transparent;
                color: var(--text-color);

                transition: ease-in 0.2s;

                &:hover {
                    transform: scale(1.08);
                }
                &:active {
                    transition: ease 0.1s;
                    transform: scale(0.95);
                }
            }
        }

        .ordersContainer {
            .orders {
                display: inline-block;
                text-decoration: none;
                color: var(--text-color);

                transition: ease 0.2s;
                @include hover-active;
            }
        }

        .cartContainer {
            padding-right: 20px;

            a {
                text-decoration: none;
            }

            .cart {
                display: inline-block;
                color: var(--text-color);
                background-color: transparent;

                transition: ease 0.2s;
                @include hover-active;
            }
        }

        @media (max-width: 700px) {
            gap: 20px;

            .themeContainer {
                .themeButton {
                    font-size: 13px;
                }
            }

            .ordersContainer {
                .orders {
                    font-size: 13px;
                }
            }
        }
    }
}
