@use "../../Variables" as *;

.select {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .external {
        cursor: pointer;
        @include font-global;
        width: 100%;
        height: 30px;

        text-align: center;
        font-size: 15px;

        border: 0;
        border-radius: 6px;

        background-color: var(--bg-color);
        color: var(--text-color);

        box-shadow: 0 0 10px 1px var(--text-color);

        opacity: 0.6;
        transition: ease-out 0.2s;

        &:hover {
            opacity: 1;
            transform: translateY(5%);
        }

        &:active {
            transition: ease 0.1s;
            opacity: 1;
            transform: scale(0.98);
        }
    }

    .booksFilterContainer {
        width: 92%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        background-color: var(--accent-color-light);

        box-shadow: 0 5px 25px 3px var(--text-color);
        border-radius: 8px;
        padding: 8px;

        button {
            cursor: pointer;
            width: 100%;
            height: 30px;

            @include font-global;
            font-size: 13px;
            color: var(--text-color);
            background-color: var(--bg-color);

            border: 0;
            border-radius: 6px;

            transition: ease-out 0.1s;
            opacity: 0.8;

            &:hover {
                opacity: 1;
                transform: scale(1.015);
                box-shadow: 0 0 3px 1px var(--text-color);
            }
            &:active {
                transform: scale(0.98);
            }
        }

        &.active {
            display: flex;
        }
    }

    .resetFilters {
        width: 100%;
        display: none;
        justify-content: center;

        button {
            width: 50%;

            cursor: pointer;
            height: 25px;

            @include font-global;
            font-size: 13px;
            color: var(--text-color);
            background-color: var(--accent-color);

            border: 0;
            border-radius: 6px;

            transition: ease-out 0.1s;
            opacity: 0.8;

            &:hover {
                opacity: 1;
                transform: scale(1.015);
                box-shadow: 0 0 3px 1px var(--text-color);
            }
            &:active {
                transform: scale(0.98);
            }
        }

        &.active {
            display: flex;
        }
    }
}
